* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(143, 23, 23, 0.9);
}
.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;
}

.encabezado {
  margin: 5rem 0;
  text-align: center;
}
.nuevaPalabra {
  text-align: center;
  margin: 5rem 0;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.dibujo {
  text-align: center;
}

#volverAJugar {
  position: absolute;
  top: 900px;
  left: 750px;
}
.oculto {
  display: none;
}
